body {
    background-image: url('02.jpg');
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .calculator {
    padding: 12px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.79);
    background: rgba(12, 12, 50, 1.4);
    box-shadow: 0 0 75PX rgb(11, 11, 11);
    border-radius: 30px;
    border: 4px solid #ddd;
  }
  
  .input {
    box-shadow: 0 0 11PX rgb(1, 1, 1);
    border: 4px solid #ddd;
    border-radius: 20px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
    color: #f9f9f9;
  }
  
  .input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .buttons {}
  
  .operators {}
  
  .operators div {
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #FFF;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .operators div:hover {
    background-color: #FFF;
    color: #4d90fe;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.2);
    border-color: #FFF;
  }
  
  .operators div:active {
    font-weight: bold;
    background-color: #ffffff;
  }
  
  .leftPanel {
    display: inline-block;
  }
  
  .numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .numbers div:hover {
    background-color: #DDD;
    color: #4d90fe;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.2);
    border-color: #bbb;
  }
  
  .numbers div:active {
    font-weight: bold;
    
  }
  
  div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 20px;
    width: 17%;
    text-align: center;
    padding: 127px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #307CF9;
    transition: all .2s ease-in-out;
  }
  
  div.equal:hover {
    background-color: #4d90fe ;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.2);
    border-color: #1857BB;
  }
  
  div.equal:active {
    font-weight: bold;
    background-color: #3079ED;
  }